<div class="text-center my-4 mt-5">
  <table class="table table-hover">
    <tbody>
      <% menu.comments.each do |comment| %>
        <tr>
          <th>
            <%= comment.user.name %>
          </th>
          <th><%= comment.comment %></th>
          <th>
            <% if comment.user == current_user %>
              <%= link_to "削除", menu_comment_path(comment.menu ,comment), method: :delete, class: "btn btn-danger pull-right", remote: true %>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>