<div class="contents" style="display:flex; flex-wrap:wrap;">
  <% @menus.each do |menu| %>
    <div class="mr-4 mt-4">
      <%= link_to menu_path(menu) do %>
        <%= image_tag menu.image, size:"150x120" %>
      <% end %>
      <p class="text-center"><strong><%= menu.title %></strong></p>
    </div>
  <% end %>
</div>