<div class = "container">
  <div class = "row">
    <h3>検索結果</h3>
    <div class="menu-list">
      <% @menus.each do |menu| %>
        <%= link_to menu_path(menu) do %>
          <%= image_tag menu.image, size:"150x120"%>
        <% end %>
        <p class="text-center"><strong><%= menu.title %></strong></p>
      <% end %>
    </div>
  </div>
</div>