<div class ="container">
  <div class="row">
    <%= render 'show' ,user: @user %>
    <div class="text-center">
    </div>
    <div class="contents" style="display:flex; flex-wrap:wrap;">
      <div class="text-center my-4 mt-5">
        <table class="table table-hover">
          <thead>
            <th>日付</th>
            <th>コメント</th>
            <th>削除ボタン</th>
          </thead>
          <% @user.comments.each do |comment| %>
            <tbody>
              <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= comment.comment %></td>
              <td><%= link_to "削除", admin_comment_path(comment.menu ,comment), method: :delete, class: "btn btn-danger pull-right"%></td>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>